
@{
    ViewData["Title"] = ViewBag.ProjectName;
}

@section SideBarLinks
{
    <li role="presentation">
        <a href="./Configuration"><i class="fa fa-cogs"></i> <span class="nav-label">Configuration</span></a>
    </li>
}
