
@{
    ViewBag.Title = "Administration";
}

@section SideBarLinks
{
<li class="landing_link">
    <a href="layouts.html"><i class="fa fa-address-book-o"></i> <span class="nav-label">Clients</span></a>
</li>
<li>
    <a href="layouts.html"><i class="fa fa-cogs"></i> <span class="nav-label">Projects</span></a>
</li>
<li>
    <a href="layouts.html"><i class="fa fa-user-circle-o"></i> <span class="nav-label">Users</span></a>
</li>
<li>
    <a href="layouts.html"><i class="fa fa-tags"></i> <span class="nav-label">Project Types</span></a>
</li>
}

<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">Clients</div>
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><td>James</td></tr>
                        <tr><td>Steve</td></tr>
                        <tr><td>Mike</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts
{

}